@import '../../main.scss';

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  a {
    text-decoration: none;
    color: #000000;
    margin-top: 10px;
    &:hover {
      text-decoration: underline;
    }
  }
  .container {
    background-color: $fourth-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: $neutral-color;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 22px 16px 9px -15px rgba(0, 0, 0, 0.3);

    form {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .save-button {
        background-color: $primary-color;
        border-radius: 5px;
        width: 100px;
        height: 30px;
        color: $neutral-color;
        border: none;
        box-shadow: 22px 16px 9px -15px rgba(0, 0, 0, 0.3);
      }
      input,
      select {
        margin-bottom: 10px;
        width: 250px;
        height: 30px;
        color: rgba($color: #000000, $alpha: 0.5);
        background-color: white;
        border: none;
        border-radius: 5px;
      }
      fieldset {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-color: $primary-color;
      }
    }
  }
}
