@import "../../main.scss";

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
  background-color: $neutral-color;
  box-shadow: 0px 10px 11px -4px rgba(0,0,0,0.3);
  a {
    text-decoration: none;
    color: $tertiary-color;
    &:hover {
      text-decoration: underline;
    }
  }
  img {
    mix-blend-mode: darken;
    width: 100px;
  }
}