@import "../../main.scss";

footer {
  background-color: $tertiary-color;
  margin-top: 20px;
  height: 100px;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px -10px 11px -4px rgba(0,0,0,0.3);
  p {
    font-size: larger;
    color: $neutral-color;
  }
}